body {
  font-size: 62.5%;
}
.todo.completed {
  color: #c4c4c4;
  text-decoration: line-through;
}
.to-do-list {
  color: black;
}
.todo {
  background-color: white;
  width: 45%;
  text-align: left;
  margin: 4px 0;
  padding-left: 8px;
}

.todo:hover {
  cursor: pointer;
}
.container {
  margin: 0 auto;
  margin-top: 2rem;
  width: 30%;
  min-width: 500px;
  height: 700px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  background: #f8f8f8;
  border-radius: 10px 10px 0 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #999999;

}
.list-container {
    height: 69%;
    width: 100%;
    overflow: scroll;
}
.task-list {
    font-size: 1.2rem;
    padding-left: 4rem;
}
.task-list div p {
    border: 1px solid red;
}
.form-container {
    height: 20%;
    width: 100%;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-radius: 0 0 10px 10px;
}
.button-form form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-input {
  border: 0;
  padding: 12px 16px;
  margin: 8px;
  background: #fff;
  font-size: 0.8rem;
  width: 100%;
  border-radius: 0;
  outline: 0;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}
.add-button {
  width: 170px;
  font-family: "arial";
  background-color: rgb(33, 150, 243);
  color: white;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 0.8rem;
  border: none;
  margin-bottom: 8px;
  margin-right: 1rem;
}
.add-button:hover {
  background-color: rgb(33, 150, 243, 0.8);
  cursor: pointer;
}

.clear-button {
  width: 170px;
  font-family: "arial";
  background: rgba(239, 239, 239);
  color: #999999;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 0.8rem;
  border: 1px solid #c4c4c4;
}
.clear-button:hover {
    background: rgba(196, 196, 196, 0.4);
  cursor: pointer;
}
button:focus {
  outline-width: 0;
}
